header > #sort {
    padding: 20px 0px;
}

header > #list-movie {
    margin: 30px;
}

.yellow {
    color: #ffc107;
}

.navbar {
    background-color: #3298DB;
}

.navbar-brand {
    font-size: 2em;
}

strong > span {
    color: black;
}

.row > .col-12 {
    font-weight: bold;
    font-size: 1.2em;
}

header > section:nth-child(2) {
    padding: 30px 0px;
}

#page {
    width: 150px;
}
